@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:400,500,700|Pacifico);


$base-font-size:   16px;       // base font size for site

$page-bg: linear-gradient(top left,rgba(#00FFFF, .6) 40% , rgba(#90EE90, .6) 80%, rgba(#EEE8AA, .6) 100%);
$header-bg-color: lightgrey;
$header-bottom-border: linear-gradient(black, transparent 90%);
$header-text-color: black;
$page-text-color: black;
$header-font: 'Pacifico', cursive;
$page-font-1: 'Noto Sans', sans-serif;
$page-font-2: 'Roboto', sans-serif;

$footer-bg-color: black;
$footer-text-color: white;



// Width of the content area / device
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;


/* Responsive: Portrait tablets and up */
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// px to em converter function
@function em($t, $c:$base-font-size){
  @return ($t / $c) * 1em;
}
