

// page container
.l-container{
  width:100%;
}


.l-header{
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height:130px;
  border-bottom: solid 2px $header-bottom-border;
}


.l-footer{
  margin-top:90vh;
  width: 100%;
  height:75px;
  text-align: center; 
}
