

// page container
.l-container{
  width: 100%;
}


.l-header{
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 50px;
  background: $header-bg-color;
  z-index: 999;
  // border-bottom: solid 2px $header-bottom-border;
  @media screen and (min-width: 768px) {
    height: 50px;
  }
}


.l-footer{
  margin-top: 60%;
  width: 100%;
  height: 150px;
  text-align: center;;
  color: $footer-text-color;
  background: $footer-bg-color;
}
