
// nag bar of <= ie7
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// nav bar
.nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 75px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    justify-content: flex-end;
    margin-top: 120px;
  }
  // nav element - BEM
  &__item{
    width:25px;
    height: 25px;
    margin-right: 25px;
    margin-left: 25px;
    font-size: em(16px);
    transition: all 1.5s;
    // @include no-bullet;
  }
}


// intro

/* Main  message and buttons */
.intro {
  text-align: center;
  &__header{
	margin-bottom: 150px;
  }
  &__name{
	  margin-bottom: 25px;
    font-family: $header-font;
    font-weight: 400;
    font-style: italic;
    font-size: em(80px);
  }
  &__text{
		font-size: em(26px);
		font-weight: bold;
	}
  &__body{
    padding-top: 105px;
  }
}


.btn{
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 75px;
  border: 2px solid white;
  border-radius: 5px;
  &__link{
    padding-top: 25%;
    font-size: em(25px);
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }
}
