// nav bar
.nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  width: 450px;
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    margin-top: 5px;
  }
  // nav element - BEM
  &__item{
    width:100px;
    height: 35px;
    margin-right: 25px;
    margin-left: 25px;
    font-size: em(23px);
    text-align: center;
    transition: all 1.5s;
    // @include no-bullet;
    div{
      width: 0px;
      height:5px;
      border-bottom: 2px solid yellow;
    }
  }
}
