<section class="intro">
  <div class="intro__bg"></div>
  <div class="row intro__header">
  <h1 class="intro__name">{{ title }}</h1>
	  <p class="intro__text lead">
		<!-- <img src="images/me2.png" alt="I'm Yeoman"><br> -->
		A non-profit web shop baseed out of sunny Miami, FL.
	  </p>
  </div>
  <div class="row intro__body marketing">
    <h4>{{ title }}</h4>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>
    <div class="btn is-btn-hovered">
        <a class="btn__link" ng-href="#/contact">Tell Us About Your Project</a>
    </div>
  </div>
</section>

<section class="mid-section">
  <div class="mid-section__info">
    <h1>Lorem ipsum </h1>
    <p>Lorem ipsum dolor sit amet, convallis integer ipsum, magna convallis ac eu mattis interdum. Condimentum purus praesent duis. Justo mauris, arcu quia, facilisis ipsum, conubia curabitur commodo euismod, tortor turpis phasellus sapien quisque vehicula. Integer sollicitudin dictum mus pulvinar eu, libero risus sit ac, pretium lacus, sed quis, turpis ipsum auctor integer.</p>
  </div>
  <div class="mid-section__info">
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor sit amet, convallis integer ipsum, magna convallis ac eu mattis interdum. Condimentum purus praesent duis. Justo mauris, arcu quia, facilisis ipsum, conubia curabitur commodo euismod, tortor turpis phasellus sapien quisque vehicula. Integer sollicitudin dictum mus pulvinar eu, libero risus sit ac, pretium lacus, sed quis, turpis ipsum auctor integer.</p>
  </div>
  <div class="mid-section__info">
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor sit amet, convallis integer ipsum, magna convallis ac eu mattis interdum. Condimentum purus praesent duis. Justo mauris, arcu quia, facilisis ipsum, conubia curabitur commodo euismod, tortor turpis phasellus sapien quisque vehicula. Integer sollicitudin dictum mus pulvinar eu, libero risus sit ac, pretium lacus, sed quis, turpis ipsum auctor integer.</p>
  </div>
</section>
