<section class="intro">
  <div class="row intro__header">
	  <h1 class="intro__name">Eddie <span>Solar</span></h1>
	  <p class="intro__text lead">
		<!-- <img src="images/me2.png" alt="I'm Yeoman"><br> -->
		A front-end developer base out of sunny Miami, FL.
	  </p>
  </div>
  <div class="row intro__body marketing">
    <h4>Front-End Development</h4>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>
    <div class="btn is-btn-active">
        <a class="btn__link" ng-href="#">Let's Talk</a>
    </div>
  </div>
</section>
